* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
}
h1,
h2 {
  font-family: "Inter", sans-serif;
}
.card-paragraph {
  font-family: "Noto Serif", serif;
}
.container {
  max-width: 1280px;
  margin: auto;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.navigation ul {
  display: flex;
  gap: 27px;
}
.list {
  list-style: none;
}
.list-item {
  text-decoration: none;
}
.list-item:nth-child(1),
.list-item:nth-child(4) {
  color: #252432;
  font-weight: 700;
}
.jahid-3 {
  display: flex;
  gap: 100px;
  margin-top: 200px;
  margin-bottom: 200;
}
.main-image-container {
  position: relative;
  width: 540px;
  height: auto;
}
.main-image-container img .main {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}
.main-image-container img.top-right {
  position: absolute;
  width: 286px;
  height: 286px;
  top: -125px;
  right: -125px;
}
.flower {
  display: flex;
  align-items: flex-end;
  padding: 0px;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 120px;
}
.content-left h1 {
  font-size: 65px;
  font-weight: 700;
}
.always {
  color: #000000;
  font-size: 65px;
  font-weight: bold;
}
.fresh {
  color: #e95a08;
  font-size: 65px;
  font-weight: bold;
}
.paragraph {
  color: #000000;
  font-size: 22px;
  width: 570px;
}
.content-left {
  flex: 1;
}
.flower-right {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}
.card-shop {
  color: #8987a1;
  font-size: 22px;
  width: 888px;
  height: 54px;
  font-family: "Noto Serif", serif;
}
.deals {
  padding-left: 200px;
  margin-bottom: 50px;
}
.jahid-2 {
  display: flex;
}
.jaker {
  margin-top: 50px;
}
.image-container {
  position: relative;
  width: 366px;
  height: 206px;
  margin-bottom: 10px;
  overflow: hidden;
  border-radius: 20px;
}
.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
}
.jak-container {
  position: relative;
  width: 753px;
}
.jak-container img {
  width: 100%;
  height: auto;
  display: block;
  margin-left: 160px;
  margin-bottom: 50px;
  border-radius: 40px;
  margin-top: 50px;
}
.text-overlaye {
  position: absolute;
  top: 250px;
  left: 450px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.4;
  text-shadow: 1px 1px 4px black;
  z-index: 2;
}
.now {
  text-decoration: underline;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 10px;
}
.plant {
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  margin-bottom: 16px;
  margin-right: 150px;
}
.card {
  padding: 0 355px;
}
.card-paragraph {
  color: #8987a1;
  font-size: 22px;
  width: 570px;
  display: flex;
  margin-bottom: 49px;
  font-family: "Noto Serif", serif;
}
.card-container {
  width: 270px;
  height: 484px;
}
.card-box {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 60px;
}
.blossom {
  margin: auto 65px;
}
.lily {
  color: #111111;
  font-weight: 400;
  font-size: 22px;
  margin-bottom: 10px;
  font-family: "Inter", sans-serif;
}
.btn {
  background-color: #e95a08;
  color: white;
  width: 270px;
  height: 50px;
  padding: 26px 50px 26px 50px;
  border: none;
}
.holder {
  width: 644px;
  height: 50px;
  padding-left: 15px;
}
.bunch {
  font-weight: bold;
  font-size: 50px;
  color: #ffffff;
  margin-bottom: 23px;
}
.btn-holder {
  padding-top: 17px;
  height: 50px;

  margin-left: -9px;
}
.Subscribe {
  background-image: url(../assets/news-letter-bg.png);
  height: 533px;
  width: 100%;
  padding-top: 200px;
  text-align: center;
}
.jahid {
  display: flex;
  width: 1148px;
  height: 248px;
  margin-left: 100px;
  margin-top: 50px;
  padding-top: 10px;
  margin-bottom: 10px;
}
.footer-card {
  width: 359px;
  height: 179px;
  gap: 16px;
  margin-top: 30px;
}
.anchor {
  text-decoration: none;
  color: #8987a1;
}
.shop-para {
  width: 359px;
  height: 81px;
  margin-top: 10px;
}
.contuct-us ul li {
  width: 85px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 50px;
  padding-left: 100px;
}
.help-center ul li {
  width: 85px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 50px;
  padding-left: 200px;
}
.facebook {
  position: static;
  width: 450px;
  height: 36px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
}
/* responsive of mobile */
@media (max-width: 768px) {
  .list-item {
    display: none;
  }
  .navigation ul li {
    margin-left: 50px;
  }
  .flower {
    flex-direction: column-reverse;
    width: 100%;
    padding-left: 10px;
    margin-left: 400px;
  }
  .card-paragraph {
    margin-right: 200px;
  }
  .flower-right {
    margin-bottom: 20px;
  }
  .card-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 150px;
    gap: 50px;
  }
  .paragraph {
    margin-bottom: 49px;
  }
  .container {
    max-width: auto;
    padding: 5px;
    margin: a;
  }
  .card {
    padding: 0 50px;
    margin-left: 100px;
  }
  .card-container {
    width: 270px;
    height: 484px;
  }
  .main-image-container img .main {
    max-width: 100%;
    height: auto;
    margin: 0 400px;
  }
  .jahid-3 {
    display: flex;
    text-decoration: column;
  }
  .jaker {
    margin-left: 100px;
  }
  .jahid-2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-right: 50px;
  }
  .image-container {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: 20px;
    margin-right: 50px;
  }
  .jahid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .help-center ul li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 500px;
  }
  img {
    height: auto;
    width: 100%;
  }
  .jak-container {
    margin-left: -50px;
  }
  .Subscribe {
    margin-left: 120px;
    width: 100%;
  }
  .footer-card {
    margin-left: 10px;
    margin-bottom: 150px;
  }
  .contuct-us li a {
    padding-top: 50px;
  }
  .help-center li a {
    padding-top: 80px;
    margin-left: -100px;
  }
  .facebook img {
    padding-top: 250px;
  }
}
